<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ixingzhi.archint.mine">


    <application tools:ignore="LockedOrientationActivity">

        <activity
            android:name=".settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ArchInt"
            tools:ignore="DiscouragedApi" />

    </application>

</manifest>